        <table align="center">
            <tr>
                <td><h4><a href="/crear">CREAR CURSO</a></h4>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4><a href="/ver">VER CURSOS</a></h4></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4> INSCRIBIRSE </h4></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4> VER INSCRITOS </h4></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><h4> ELIMINAR INSCRITOS </h4></td>
            </tr>